@media only screen and (max-width: 1070px) {
    .intro-content h1 {
        font-size: 2em;
    }

    .intro-content p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1014px) {
    .services-card h3, .articles-card h3 {
        font-size: 1em;
    }

    .services-card p, .articles-card p {
        font-size: 0.7em;
    }

    .articles-card img {
        height: 190px;
    }

    .articles-card h4 {
        font-size: 0.4em;
    }
}

@media only screen and (max-width: 930px) {
    footer {
        padding: 30px 70px;
    }

    .footer-social {
        margin-right: 70px;
    }
}

@media only screen and (max-width: 850px) {
    .introduction {
        flex-direction: column-reverse;
        align-items: center;
    }

    .cellphone, .intro-content {
        width: 100%;
    }

    .intro-content {
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    .cellphone {
        background-position: 0em -35em;
    }

    .cellphone img {
        width: 70%;
    }

    .services {
        margin-top: 0;
    }

    .services-title {
        align-items: center;
        padding: 70px;
    }

    .cards-container, .articles-grid-container {
        grid-template-columns: 1fr;
    }

    .services-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .services-card h3, .articles-card h3 {
        font-size: 1.5em;
    }

    .services-card p, .articles-card p {
        font-size: 1.2em;
    }

    .articles-card {
        max-width: 90%;
        margin: 0px  auto 50px;
    }

    .articles-card img  {
        width: 100%;
        height: 340px;
    }

    .articles-card h4 {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 770px) {
    footer {
        grid-template-columns: 1fr;
        max-height: 700px;
    }

    .footer-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-social ul {
        margin-top: 25px;
    }

    .footer-options {
        columns: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right-side-footer {
        align-items: center;
    }

    .right-side-footer button {
        width: 200px;
        margin-left: -50px;
        margin-bottom: 20px;
    }

    .right-side-footer p {
        margin-left: -45px;
    }

}

@media only screen and (max-width: 750px) {
    .logo {
        margin-left: 50px;
        min-width: 140px;
    }

    .hamburger-menu {
        visibility: visible;
    }

    .menu-options {
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: 70%;
        background-color: var(--White);
        border-radius: 4px;
        transition: all 0.3s;
        top: 7em;
        opacity: 0;
    }

    .menu-options li {
        margin-bottom: 10px;
    }

    #header-request {
        visibility: hidden;
    }

    .hamburger-menu {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 650px) {
    .cellphone {
        background-position: 0 -30em;
    }

    .cellphone img {
        width: 400px;
        margin-left: 7em;
    }

    .articles-card img {
        height: 280px;
    }
}

@media only screen and (max-width: 540px) {
    .cellphone {
        background-position: -2em -28em;
    }

    .cellphone img {
        margin-left: 4em;
    }
}

@media only screen and (max-width: 470px) {
    .cellphone {
        background-position: -5em -35em;
    }

    .cellphone img {
        width: 350px;
        margin-left: 2em;
    }

    .intro-content {
        padding: 10px 30px;
    }

    .services-title {
        padding: 50px 30px;
    }

    .services-card {
        margin-bottom: 60px;
    }

    .article-session-title {
        padding: 70px;
    }

    .articles-card img {
        height: 200px;
    }
    .intro-content h1, .services-title h2 {
        font-size: 1.5em;
    }

    .intro-content p, .services-title p {
        font-size: 0.9em;
    }

    .services-card h3, .articles-card h3 {
        font-size: 1.2em;
    }

    .services-card p, .articles-card p {
        font-size: 0.8em;
    }

    .articles-card h4 {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 400px) {
    .cellphone img {
        width: 300px;
        margin-left: 1.5em;
    }
}